* {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  background-color: #242530;
}

body {
  height: 100vh;
  margin: 0; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: default;
}

header {
  color: #FF60C0;
  font-size: 18vmin;
  text-shadow: 3vmin 1vmin 3vmin #FF60C0;
}

h1 {
  color: #00FF5D;
  text-shadow: 0vmin 0vmin 1vmin #00FF5D, 0vmin 0vmin 8vmin whitesmoke;
  font-size: 6vmin;
  padding-top: 2vmin;
}

h2 {
  color: #EAFA6D;
  text-shadow: 0vmin 0vmin 0.5vmin #EAFA6D;
  font-size: 4vmin;
  padding-bottom: 2vmin;
}

#board {
  display: grid;
  grid-template-rows: repeat(2, 18vmin);
  grid-template-columns: repeat(8, 18vmin);
}

#board > div {  
  display: flex;
  border: 0.5vmin solid #5DE7FF;
  margin: 0.1vmin;
  border-radius: 20%;
  font-size: 4vmin;
  color: white;
  align-items: center;
  justify-content: center;
  opacity: 0.6;
  box-shadow: 0 0 4vmin #5DE7FF;
}

#board > div:hover {
  opacity: 1;
  cursor: pointer;
  margin-bottom: 2px;
  transform: scale(1.2);
  transition: all 0.2s ease-in;
  z-index: 1000;
}

[id="6"] {
  grid-row: 1 / span 2;
}

[id="13"] {
  grid-area: 1 / -2 / 3 / -1;
}

#reset {
  margin: 4vmin auto;
  background-color: #242530;
  border: 0.5vmin solid #5DE7FF;
  color: #00FF5D;
  font-size: 3vmin;
  padding: 2.5vmin;
  box-shadow: 0 0 8vmin black;
  border-radius: 1.5vmin;
}

button:hover {
  transform: scale(1.2);
  transition: all 0.2s ease-in;
  cursor: pointer;
}

#bg-player {
  position: absolute;
  top: 2vmin;
  left: 2vmin;
  margin: 0;
  background-color: #242530;
  border: 0.5vmin solid #5DE7FF;
  color: #00FF5D;
  font-size: 2vmin;
  padding: 2.5vmin;
  box-shadow: 0 0 8vmin black;
  border-radius: 1.5vmin;
}